<nav *ngIf="currentUser.role==='ADMIN'"
	class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="nav-item"><a class="nav-link">You are logged in
					as '{{currentUser.role}}'</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/home']">Home</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/manageUsers']">Manage Users</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/documents/create']">Create Document</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/documents/manage']">Manage Documents</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/zones/manage']">Manage Zones</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/login']">Logout</a></li>
		</ul>
	</div>
</nav>
<nav *ngIf="currentUser.role==='MANAGER'"
	class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="nav-item"><a class="nav-link">You are logged in
					as '{{currentUser.role}}'</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/home']">Home</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/documents/create']">Create Document</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/documents/manage']">Manage Documents</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/documents/mydocuments']">My Documents</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/zones/manage']">Manage Zones</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/login']">Logout</a></li>
		</ul>
	</div>
</nav>
<nav *ngIf="currentUser.role==='CONTRIBUTOR'"
	class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="nav-item"><a class="nav-link">You are logged in
					as '{{currentUser.role}}'</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/home']">Home</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/documents/create']">Create Document</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/documents/mydocuments']">My Documents</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/zones/manage']">Manage Zones</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/login']">Logout</a></li>
		</ul>
	</div>
</nav>
<nav *ngIf="currentUser.role==='READER'"
	class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-inverse">
	<div class="container">
		<ul class="nav navbar-nav" routerLinkActive="active">
			<li class="nav-item"><a class="nav-link">You are logged in
					as '{{currentUser.role}}'</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/home']">Home</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/documents/manage']">Manage Documents</a></li>
			<li class="nav-item"><a class="nav-link"
				[routerLink]="['/login']">Logout</a></li>
		</ul>
	</div>
</nav>

<div class="col-md-6 col-md-offset-3">
	<h2>Create a new Document</h2>
	<form name="form" (ngSubmit)="f.form.valid && createNewDocument()"
		#f="ngForm" novalidate>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !abstractText.valid }">
			<label for="abstractText">Text</label> <textarea 
				class="form-control" name="abstractText"
				[(ngModel)]="model.abstractText" #abstractText="ngModel" required ></textarea>
			<div *ngIf="f.submitted && !abstractText.valid" class="help-block">Role
				is required</div>
		</div>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !keywords.valid }">
			<label for="keywords">KeyWords</label> <input type="text"
				class="form-control" name="keyword" [(ngModel)]="model.keywords"
				#keywords="ngModel" required />
			<div *ngIf="f.submitted && !keywords.valid" class="help-block">Role
				is required</div>
		</div>

		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !name.valid }">
			<label for="name">Document Name</label> <input type="text"
				class="form-control" name="name" [(ngModel)]="model.name"
				#name="ngModel" required />
			<div *ngIf="f.submitted && !name.valid" class="help-block">Role
				is required</div>
		</div>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !details.valid }">
			<label for="details">Details</label> <input type="text"
				class="form-control" name="details" [(ngModel)]="model.details"
				#details="ngModel" required />
			<div *ngIf="f.submitted && !details.valid" class="help-block">Role
				is required</div>
		</div>
		<div class="form-group"
			[ngClass]="{ 'has-error': f.submitted && !documentType.valid }">
			<label for="documentType">Document Type</label> <input type="text"
				class="form-control" name="type" [(ngModel)]="model.documentType"
				#documentType="ngModel" required />
			<div *ngIf="f.submitted && !documentType.valid" class="help-block">Role
				is required</div>
		</div>
		<div class="form-group">
			<button [disabled]="loading" class="btn btn-primary">Create</button>
			<img *ngIf="loading"
				src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
			<a [routerLink]="['/documents/manage']" class="btn btn-link">Cancel</a>
		</div>
	</form>
</div>
